/* Default style*/

@page {
    size: A4; 
    margin: 0;
    margin-bottom: 1in; 
    margin-top: 1in;
  }
@page :first {
    margin-top: 0in !important;
}

body {
    font-family: Arial;
    line-height: 1.2;
    margin: 1in;
    max-width: 800px;
    font-size: 1.1em;
    background: #ffffff;
    color: #1c2434;
    text-align: justify;
    hyphens: auto;
}

.chart-container {
    display: block;
    width: 70%;
    margin: 1em auto !important;
    padding: 0 !important;
}